#bees {
    animation-name: buzz;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
}
@keyframes buzz {
    0% {background-color: yellow;}
    50% {background-color: black;}
    100% {background-color: yellow;}
}
#beebutton {
    margin: 0 auto;
    vertical-align: middle;
}